.datos_Libro .img_Portada{
    width: auto;
    height: 400px;
}

.datos_Libro{
    text-align: center;
    margin-left: 200px;
    width: auto;
}

body.active .datos_Libro, body.active .booksTitles{
    margin-left: 350px;
    width: auto;
}

body.active .datos_Libro{
    margin-left: 250px;
    width: auto;
}

.leer_libro{
    width: auto;
    background-color: #6C63FF;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 134px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.leer_libro:hover{
    color: white;
    background: #847fec;
}

.p_Details{
    /* font-size: 18px!important; */
    color: black;
    font-weight: 500;
}

.p_Info{
    font-size: 18px!important;
}

.leer{
    text-align: center!important;
}

span{
    text-transform: capitalize;
}

.p_Info{
    /* font-weight: 500; */
    color: #3c4043;
}

.span_Info {
    /* font-weight: 500; */
    color: black;
}