.card{
    width: 240px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1F3D4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    text-align: center;
}

.card-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 48px 0;
    font-weight: 400;
}

.card:hover .card-body{
    right: 0;
}

.libros_Gallery .detalles{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.libros_Gallery .detalles .icon2{
    color: #6C63FF;
}

body.active .libros_Gallery, body.active .bookDetails{
    margin-left: 350px;
    margin-right: 15px;
    width: auto;
}

body.active .card-Book{
    width: 13rem;
}

.card-img, .card-img-bottom, .card-img-top{
    /* height: 330px!important; */
}

.card-Book{
    width: 15rem;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

.libros_Gallery{
    margin-left: 160px;
}

.btn{
    width: auto;
    font-size: 15px;
}