.img_Usuario{
    text-align: center;
    margin: auto;
}

.img_Usuario #archivo_img{
    width: 75%!important;
    margin: auto;
}

.img_usuarioF{
    border-radius: 50%;
    width: 250px;
    height: 260px;
}

.btn{
    width: auto;
    background-color: #6C63FF;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s
}

.btn:hover{
    background-color: #847fec;
    color: #fff;
}

.form-Actualizar{
    margin: 30px 20px;
}

.userTitle{
    margin-top: 20px;
    /* margin-left: 130px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.userTitle i{
    font-size: 30px;
    color: white;
}

.userTitle .bookIcon{
    background: #4D5BF9;
}

.iconBook{
    background: #4D5BF9;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 15px;
}

body.active .form-Actualizar, body.active .userTitle{
    margin-left: 250px;
    width: auto;
}

.info_Usuario{
    margin-top: 10%;
}

span .usuario_SPAN{
    text-transform: capitalize;
}

.subir_imgPortada{
    font-size: 16px;
    background: white;
    border-radius: 50px;
    /* box-shadow: 5px 5px 10px black; */
    width: 350px;
    outline: none;
    cursor: pointer;
}

::-webkit-file-upload-button{
    color: white;
    background: #6C63FF;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6C63FF;
    outline: none;
    cursor: pointer;
}

::-webkit-file-upload-button:hover{
    background: #847fec;
    box-shadow: 1px 0 1px 1px #847fec;
}

.p_Info{
    font-weight: 500;
    color: #3c4043;
}

.span_Info {
    font-weight: 500;
    color: black;
}
